@font-face {
  font-family: "Poppins";
  src: url(fonts/Poppins/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins";
  border: none;
  outline: none;
  letter-spacing: 1px;
}
.container {
  margin: 0 auto;
  max-width: 1080px;
  width: 90%;
}
.global-title-p {
  text-align: center;
  font-size: 17px;
  margin-top: 70px;
}
.global-title-h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 35px;
  margin-top: 10px;
}

/* Navbar styling start here */

nav {
  height: 80px;
  background-color: rgb(146, 180, 177);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  place-items: center;
  z-index: 1;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 20px;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 30%;
}
.nav-links li a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.nav-links li a:hover {
  color: #df678c;
}
.nav-links li a:active {
  color: red;
}
/*Header styling starts here*/

header {
  padding-top: 150px;
}
.header-image {
  height: 50%;
  border-radius: 50%;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
}
.header-right {
  text-align: center;
  margin-top: 20%;
}
.header-action-area {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.btn {
  border: 1px solid #df678c;
  width: 180px;
  padding: 1em 2em;
  border-radius: 30px;
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.btn-dark {
  background-color: #df678c;
  color: white;
}
.icon-social {
  width: 35px;
  margin-top: 10px;
}
.header-social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.header-right p {
  font-size: 18px;
  font-weight: 600;
  margin: 15px auto;
}
.header-right h1 {
  font-size: 35px;
  font-weight: 600;
  margin: 15px auto;
}
.head-right h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 20px auto;
}
